<div class="container">
  <h3 mat-dialog-title>Add Task</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!-- <div  style="display: none;">
      <mat-form-field color="accent" >
        <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div> -->


    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="Name" [(ngModel)]="data.name" name="name"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Desc" [(ngModel)]="data.description" name="description" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

  
    

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Priority</mat-label>
        <mat-select [(ngModel)]="data.priority" name="priority">
          <mat-option value="0">Low</mat-option>
          <mat-option value="1">High</mat-option>
          <mat-option value="2">Medium</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="suggested_solution" [(ngModel)]="data.suggested_solution" name="suggested_solution" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Assign date</mat-label>
        <input matInput [matDatepicker]="assigned_date" [(ngModel)]="data.assigned_date">
        <mat-datepicker-toggle matIconSuffix [for]="assigned_date"></mat-datepicker-toggle>
        <mat-datepicker #assigned_date></mat-datepicker>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field>
        <mat-label>Closing Date</mat-label>
        <input matInput [matDatepicker]="closing_date" [(ngModel)]="data.closing_date">
        <mat-datepicker-toggle matIconSuffix [for]="closing_date"></mat-datepicker-toggle>
        <mat-datepicker #closing_date></mat-datepicker>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <mat-label>Assignee By</mat-label>
        <mat-select [(ngModel)]="data.assignee" name="assignee">
          <mat-option value=1>Admin</mat-option>
        </mat-select>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
<!-- 
     <div class="form">
      <mat-label>Assignee By</mat-label>
      <mat-selection-list [(ngModel)]="data.assignee">
        <mat-list-option *ngFor="let data of assignee">
        </mat-list-option>
      </mat-selection-list>
      
  </div>  -->

    <!-- <div class="form">
      <mat-form-field color="accent">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="data.assigndate">
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    </div> -->


    <div mat-dialog-actions>
      <button mat-raised-button [type]="submit" [disabled]="!formControl.valid"  [mat-dialog-close]="1" color="primary"  (click)="confirmAdd()">Save</button>
      <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
